In [19]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
train_df=pd.read_csv("/home/kiran/projects/testproject/KaggleStruggle/bike-sharing-demand/data/train.csv",parse_dates=["datetime"])
test_df=pd.read_csv("/home/kiran/projects/testproject/KaggleStruggle/bike-sharing-demand/data/test.csv",parse_dates=["datetime"])

In [20]:

# train_df.describe
# print(test_df.describe)
# # train_df.shape
# test_df['casual']=np.nan
# test_df['registered']=np.nan
# test_df['count']=np.nan
# # test_df.head()
# train_df.dtypes
# test_df.dtypes

In [21]:

# print(train_df.iloc[0,6])
train_df['datatime']=pd.to_datetime(train_df['datetime'])
test_df['datetime']=pd.to_datetime(test_df['datetime'])
# train_df.describe
# train_df.info()
# test_df.describe
# test_df.info()
test_df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014
...,...,...,...,...,...,...,...,...,...
6488,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014
6489,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014
6490,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014
6491,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981
6492,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981

In [22]:
train_df["year"] = train_df["datetime"].dt.year
train_df["month"] = train_df["datetime"].dt.month
train_df["hour"] = train_df["datetime"].dt.hour
train_df["dayofweek"] = train_df["datetime"].dt.dayofweek
train_df.shape
print("")
# print(train_df.month)

In [23]:
test_df["year"] = test_df["datetime"].dt.year
test_df["month"] = test_df["datetime"].dt.month
test_df["hour"] = test_df["datetime"].dt.hour
test_df["dayofweek"] = test_df["datetime"].dt.dayofweek
test_df.shape

(6493, 13)

In [24]:
train_df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,datatime,year,month,hour,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,2011-01-01 00:00:00,2011,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,2011-01-01 01:00:00,2011,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2011-01-01 02:00:00,2011,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,2011-01-01 03:00:00,2011,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,2011-01-01 04:00:00,2011,1,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,2012-12-19 19:00:00,2012,12,19,2
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,2012-12-19 20:00:00,2012,12,20,2
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,2012-12-19 21:00:00,2012,12,21,2
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,2012-12-19 22:00:00,2012,12,22,2
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,2012-12-19 23:00:00,2012,12,23,2

In [25]:
 train_df.groupby('dayofweek')[["season","holiday","workingday","weather",
                             "month","year","hour"]].corr()

                        season   holiday  workingday   weather         month  \
dayofweek
0         season      1.000000  0.017868   -0.017868  0.121549  9.700572e-01
          holiday     0.017868  1.000000   -1.000000  0.059627 -4.062046e-02
          workingday -0.017868 -1.000000    1.000000 -0.059627  4.062046e-02
          weather     0.121549  0.059627   -0.059627  1.000000  1.135710e-01
          month       0.970057 -0.040620    0.040620  0.113571  1.000000e+00
          year       -0.009381  0.076515   -0.076515  0.149467  4.509910e-04
          hour       -0.007315 -0.000890    0.000890  0.083371 -7.460950e-03
1         season      1.000000       NaN         NaN  0.025356  9.705929e-01
          holiday          NaN       NaN         NaN       NaN           NaN
          workingday       NaN       NaN         NaN       NaN           NaN
          weather     0.025356       NaN         NaN  1.000000  2.850312e-02
          month       0.970593       NaN         NaN  0.028503  1.000000e+00
          year        0.021502       NaN         NaN  0.028524  2.795314e-02
          hour       -0.017304       NaN         NaN -0.090827 -1.926053e-02
2         season      1.000000  0.057736   -0.057736  0.096861  9.727109e-01
          holiday     0.057736  1.000000   -1.000000 -0.081534  2.097618e-02
          workingday -0.057736 -1.000000    1.000000  0.081534 -2.097618e-02
          weather     0.096861 -0.081534    0.081534  1.000000  8.205306e-02
          month       0.972711  0.020976   -0.020976  0.082053  1.000000e+00
          year        0.029883  0.122887   -0.122887 -0.136366  1.974445e-02
          hour       -0.006559 -0.000883    0.000883 -0.018184 -7.393364e-03
3         season      1.000000       NaN         NaN  0.023823  9.730445e-01
          holiday          NaN       NaN         NaN       NaN           NaN
          workingday       NaN       NaN         NaN       NaN           NaN
          weather     0.023823       NaN         NaN  1.000000  4.412799e-02
          month       0.973045       NaN         NaN  0.044128  1.000000e+00
          year       -0.025186       NaN         NaN -0.059604 -5.578072e-02
          hour       -0.003490       NaN         NaN -0.088413 -2.978728e-03
4         season      1.000000  0.079553   -0.079553 -0.095692  9.719808e-01
          holiday     0.079553  1.000000   -1.000000 -0.073427  4.946077e-02
          workingday -0.079553 -1.000000    1.000000  0.073427 -4.946077e-02
          weather    -0.095692 -0.073427    0.073427  1.000000 -8.002858e-02
          month       0.971981  0.049461   -0.049461 -0.080029  1.000000e+00
          year       -0.020061 -0.175265    0.175265 -0.035003 -2.404690e-02
          hour       -0.006957 -0.000928    0.000928 -0.040519 -6.963303e-03
5         season      1.000000       NaN         NaN -0.108773  9.724158e-01
          holiday          NaN       NaN         NaN       NaN           NaN
          workingday       NaN       NaN         NaN       NaN           NaN
          weather    -0.108773       NaN         NaN  1.000000 -1.042371e-01
          month       0.972416       NaN         NaN -0.104237  1.000000e+00
          year        0.000000       NaN         NaN -0.057004  1.789596e-02
          hour        0.000000       NaN         NaN  0.054685 -8.168058e-18
6         season      1.000000       NaN         NaN -0.010770  9.704423e-01
          holiday          NaN       NaN         NaN       NaN           NaN
          workingday       NaN       NaN         NaN       NaN           NaN
          weather    -0.010770       NaN         NaN  1.000000 -2.812030e-03
          month       0.970442       NaN         NaN -0.002812  1.000000e+00
          year       -0.030301       NaN         NaN  0.041537 -2.021008e-02
          hour       -0.004808       NaN         NaN -0.053431 -4.101030e-03

                          year          hour
dayofweek
0         season     -0.009381 -7.315043e-03
          holiday     0.076515 -8.895078e-04
          workingday -0.076515  8.895078e-04
          weather     0.149467  8.337072e-02
          month       0.000451 -7.460950e-03
          year        1.000000 -2.598562e-03
          hour       -0.002599  1.000000e+00
1         season      0.021502 -1.730350e-02
          holiday          NaN           NaN
          workingday       NaN           NaN
          weather     0.028524 -9.082658e-02
          month       0.027953 -1.926053e-02
          year        1.000000 -1.070199e-02
          hour       -0.010702  1.000000e+00
2         season      0.029883 -6.559461e-03
          holiday     0.122887 -8.828652e-04
          workingday -0.122887  8.828652e-04
          weather    -0.136366 -1.818371e-02
          month       0.019744 -7.393364e-03
          year        1.000000 -5.784995e-03
          hour       -0.005785  1.000000e+00
3         season     -0.025186 -3.490102e-03
          holiday          NaN           NaN
          workingday       NaN           NaN
          weather    -0.059604 -8.841250e-02
          month      -0.055781 -2.978728e-03
          year        1.000000 -3.966945e-03
          hour       -0.003967  1.000000e+00
4         season     -0.020061 -6.957358e-03
          holiday    -0.175265 -9.276037e-04
          workingday  0.175265  9.276037e-04
          weather    -0.035003 -4.051864e-02
          month      -0.024047 -6.963303e-03
          year        1.000000 -5.016156e-03
          hour       -0.005016  1.000000e+00
5         season      0.000000  0.000000e+00
          holiday          NaN           NaN
          workingday       NaN           NaN
          weather    -0.057004  5.468488e-02
          month       0.017896 -8.168058e-18
          year        1.000000  0.000000e+00
          hour        0.000000  1.000000e+00
6         season     -0.030301 -4.807909e-03
          holiday          NaN           NaN
          workingday       NaN           NaN
          weather     0.041537 -5.343063e-02
          month      -0.020210 -4.101030e-03
          year        1.000000 -1.899680e-03
          hour       -0.001900  1.000000e+00

In [26]:
# categorical_feature_names = ["season","holiday","workingday","weather",
#                              "dayofweek","month","year","hour"]

In [27]:
ind_features=['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed']


for var in ind_features:
    train_df[var] = train_df[var].astype("category")
    test_df[var] = test_df[var].astype("category")

In [28]:
# for var in categorical_feature_names:
#     train_df[var] = train_df[var].astype("category")
#     test_df[var] = test_df[var].astype("category")

In [29]:
feature_names = ["season", "weather", "temp", "atemp", "humidity",
                 "year", "hour", "dayofweek", "holiday", "workingday"
                ]

feature_names

['season',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'year',
 'hour',
 'dayofweek',
 'holiday',
 'workingday']

In [30]:
X_train_df = train_df[feature_names]

print(X_train_df.shape)
X_train_df.head()

(10886, 10)

,season,weather,temp,atemp,humidity,year,hour,dayofweek,holiday,workingday
0,1,1,9.84,14.395,81,2011,0,5,0,0
1,1,1,9.02,13.635,80,2011,1,5,0,0
2,1,1,9.02,13.635,80,2011,2,5,0,0
3,1,1,9.84,14.395,75,2011,3,5,0,0
4,1,1,9.84,14.395,75,2011,4,5,0,0

In [31]:
X_test_df = test_df[feature_names]

print(X_test_df.shape)
X_test_df.head()

(6493, 10)

,season,weather,temp,atemp,humidity,year,hour,dayofweek,holiday,workingday
0,1,1,10.66,11.365,56,2011,0,3,0,1
1,1,1,10.66,13.635,56,2011,1,3,0,1
2,1,1,10.66,13.635,56,2011,2,3,0,1
3,1,1,10.66,12.880,56,2011,3,3,0,1
4,1,1,10.66,12.880,56,2011,4,3,0,1

In [32]:
label_name = "count"

y_train_df = train_df[label_name]

print(y_train_df.shape)
y_train_df.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [33]:
from sklearn.metrics import make_scorer

def rmsle(predicted_values, actual_values, convertExp=True):

    if convertExp:
        predicted_values = np.exp(predicted_values),
        actual_values = np.exp(actual_values)
        

    predicted_values = np.array(predicted_values)
    actual_values = np.array(actual_values)

    log_predict = np.log(predicted_values + 1)
    log_actual = np.log(actual_values + 1)
    

    difference = log_predict - log_actual
    difference = np.square(difference)
    

    mean_difference = difference.mean()
    

    score = np.sqrt(mean_difference)
    
    return score

In [34]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
import warnings
pd.options.mode.chained_assignment = None
warnings.filterwarnings("ignore", category=DeprecationWarning)


lModel = LinearRegression()


y_train_log = np.log1p(y_train_df)
ln_model=lModel.fit(X_train_df, y_train_log)


preds = lModel.predict(X_train_df)
print ("RMSLE Value For Linear Regression: ",
       rmsle(np.exp(y_train_log),np.exp(preds), False))

RMSLE Value For Linear Regression:  0.9803697923313504

In [35]:
from sklearn.ensemble import RandomForestRegressor
rfModel = RandomForestRegressor(n_estimators=100)

y_train_log = np.log1p(y_train_df)
rf_model=rfModel.fit(X_train_df, y_train_log)

preds = rfModel.predict(X_train_df)
score = rmsle(np.exp(y_train_log),np.exp(preds),False)
print ("RMSLE Value For Random Forest: ",score)

RMSLE Value For Random Forest:  0.10754580769326269

In [36]:
pd.DataFrame(rf_model.feature_importances_,index=feature_names)

                   0
season      0.035001
weather     0.011910
temp        0.049678
atemp       0.019282
humidity    0.021964
year        0.033109
hour        0.760245
dayofweek   0.029781
holiday     0.001735
workingday  0.037295